body {
  font-family: "Lato", sans-serif;
}

.button {
  background-color: #666666; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px 33px;
  cursor: pointer;
  transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius: 25px;
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button1{
  border-radius: 30px;
}
.sidebar {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f9f9f9;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

}

.user1{
  height: 20px;
  margin-top: 5px;
   padding-left: 10px;
   padding-right: 30px;
}

.sidebar a {
  padding: 15px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #666666;
  display: block;
  transition: 0.3s;

}

.sidebar a:hover {
  color: gray;
  d
}
 

 .cell{
  font-size:20px ;
  color:gray;
 }

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 25px;
  margin-left: 50px;
  padding: 10px;
  border-radius: 30px;


}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: white ;
  color: black;
  padding: 10px 15px;
  border: none;

}

.openbtn:hover {
  background-color: #f9f9f9;


}

#main {
  transition: margin-left .5s;
  padding: 5px;
  color: #696969;
}


@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.email{
  display: flex;
  flex-direction: row;
  height: 35px;
  padding-left: 10px;
  margin-left: -150px;
  
}

.epicmail2{
  margin-top: 10px;
  color:  #666666;
  font-size: 20px;
  padding-left: 10px;
}

.information{
  height: 20px;
  margin-top: 5px;

}
.email input.search-bar {
    margin-left: 100px;
    width: 500px;
    border-radius: 6px;
    background: #f9f9f9;
    border:none;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
   
}

.row .cell {
  width: 100%;
  background: white;
  padding: 10px;
  margin-bottom: 0px;

}

.row .cell: nth-of-type(2) {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.row1 {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  justify-content: space;
  padding-right: 0px;
  padding-left: 0px;
  border-top: solid 1px lightgray;

}

.row1 .cell1 {
  width: 100%;
  background: #fff;
  padding: 5px;
  border-bottom: solid 1px lightgray;
}

.row1 .cell1: nth-of-type(2) {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.row2 {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  justify-content: space;
  padding-right: 0px;
  padding-left: 0px;
}

.row2 .cell2 {
  width: 100%;
  background: #fff;
  padding: 0px;
  border-bottom: solid 1px lightgray;
}

.row2 .cell2: nth-of-type(2) {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.row2 .cell2{
 background-color: white;
  border: none;
  padding-top: 5px;
  padding-left: 0px;
  padding-bottom: 5px;
  padding-right: 250px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 0;

}

.row2 .cell2:hover{
 background-color: #f2f2f2;
 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.14),0 15px 50px 0 rgba(0,0,0,0.19);
}


.row3 {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  justify-content: space;
  padding-right: 0px;
  padding-left: 0px;
}

.row3 .cell3 {
  width: 100%;
  background: #f2f2f2;
  padding: 10px;
  border-bottom: solid 1px lightgray;
}

.row3 .cell3: nth-of-type(2) {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.main-content .row3:hover{
  padding: 1px;
  cursor: pointer;
} 

.row4 {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  justify-content: space;
  padding-right: 0px;
  padding-left: 0px;
}

.row4 .cell4 {
  width: 100%;
  background: #f2f2f2;
  padding: 10px;
  border-bottom: solid 1px lightgray;
}

.row4 .cell4: nth-of-type(2) {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}
.main-content .row4:hover{
  padding: 1px;
  cursor: pointer;
} 

.row5 {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  justify-content: space;
  padding-right: 0px;
  padding-left: 0px;
}

.row5 .cell5 {
  width: 100%;
  background: #f2f2f2;
  padding: 10px;
  border-bottom: solid 1px lightgray;
}

.row5 .cell5: nth-of-type(2) {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.main-content .row5:hover{
  padding: 1px;
  cursor: pointer;
}

.row6 {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  justify-content: space;
  padding-right: 0px;
  padding-left: 0px;
}

.row6 .cell6 {
  width: 100%;
  background: #f2f2f2;
  padding: 10px;
  border-bottom: solid 1px lightgray;
}

.row6 .cell6: nth-of-type(2) {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.main-content .row6:hover{
  padding: 1px;
  cursor: pointer;
}

.row7 {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  justify-content: space;
  padding-right: 0px;
  padding-left: 0px;
}

.row7 .cell7 {
  width: 100%;
  background: #f2f2f2;
  padding: 10px;
  border-bottom: solid 1px lightgray;
}

.row7 .cell7: nth-of-type(2) {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.main-content .row7:hover{
  padding: 1px;
  cursor: pointer;
}

.row8 {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  justify-content: space;
  padding-right: 0px;
  padding-left:  0px;
}

.row8 .cell8 {
  width: 100%;
  background: #f2f2f2;
  padding: 10px;
  border-bottom: solid 1px lightgray;
}

.row8 .cell8: nth-of-type(2) {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.main-content .row8:hover{
  padding: 1px;
  cursor: pointer;
}

.row9 {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  justify-content: space;
  padding-right: 0px;
  padding-left: 0px;
}

.row9 .cell9 {
  width: 100%;
  background: #f2f2f2;
  padding: 10px;
  border-bottom: solid 1px lightgray;
}

.row9 .cell9: nth-of-type(2) {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.main-content .row9:hover{
  padding: 1px;
  cursor: pointer;
}

.row10 {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  justify-content: space;
  padding-right: 0px;
  padding-left: 0px;
}

.row10 .cell10 {
  width: 100%;
  background: #f2f2f2;
  padding: 10px;
  border-bottom: solid 1px lightgray;
}

.row10 .cell10: nth-of-type(2) {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.main-content .row10:hover{
  padding: 1px;
  cursor: pointer;
}

.row11 {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  justify-content: space;
  padding-right: 0px;
  padding-left: 0px;
}

.row11 .cell11 {
  width: 100%;
  background: #f2f2f2;
  padding: 10px;
  border-bottom: solid 1px lightgray;
}

.row11 .cell11: nth-of-type(2) {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.main-content .row11:hover{
  padding: 1px;
  cursor: pointer;
}

.row12 {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  justify-content: space;
  padding-right: 0px;
  padding-left: 0px;
}

.row12 .cell12 {
  width: 100%;
  background: #f2f2f2;
  padding: 10px;
  border-bottom: solid 1px lightgray;
}

.row12 .cell12: nth-of-type(2) {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.main-content .row12:hover{
  padding: 1px;
  cursor: pointer;
}


.row13 {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  justify-content: space;
  padding-right: 0px;
  padding-left: 0px;
}

.row13 .cell13 {
  width: 100%;
  background: #f2f2f2;
  padding: 10px;
  border-bottom: solid 1px lightgray;
}

.row13 .cell13: nth-of-type(2) {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.main-content .row13:hover{
  padding: 1px;
  cursor: pointer;
}

.row14 {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  justify-content: space;
  padding-right: 0px;
  padding-left: 0px;
}

.row14 .cell14 {
  width: 100%;
  background: #f2f2f2;
  padding: 10px;
  border-bottom: solid 1px lightgray;
}

.row14 .cell14: nth-of-type(2) {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.main-content .row14:hover{
  padding: 1px;
  cursor: pointer;
}

.row15 {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  justify-content: space;
  padding-right: 0px;
  padding-left: 0px;
}

.row15 .cell15 {
  width: 100%;
  background: #f2f2f2;
  padding: 10px;
  border-bottom: solid 1px lightgray;
}

.row15 .cell15: nth-of-type(2) {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.main-content .row15:hover{
  padding: 1px;
  cursor: pointer;
}

.row16 {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  justify-content: space;
  padding-right: 0px;
  padding-left: 0px;
}

.row16 .cell16 {
  width: 100%;
  background: #f2f2f2;
  padding: 10px;
  border-bottom: solid 1px lightgray;
}

.row16 .cell16: nth-of-type(2) {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.main-content .row16:hover{
  padding:1px;
  cursor: pointer;
}



.footer {
   position:;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: gray;
   color: #e9e9e9;
   text-align: center;
   height: 50;
   padding-top: 20px;
   font-size: 14px;
}
















